PORT="ENTER PORT NO"
MONGO_URI="ENTER YOUR MONGODB URI"
NODE_ENV="ENTER NODE ENVIRONMENT"
JWT_SECRET="ENTER JWT SECRET"
SUPER_ADMIN_PASSWORD="ENTER SUPER ADMIN PASSWORD"
SMTP_HOST="ENTER SMTP HOST"
SMTP_PORT="ENTER SMTP PORT"
SMTP_USER="ENTER SMTP USER EMAIL"
SMTP_PASS="ENTER SMTP APP PASSWORD"
SMTP_FROM="ENTER SMTP FROM EMAIL"